#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  font-family: Arial, sans-serif;
  padding: 1rem;
}

.nav-ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 0;
}


.home-page {
  text-align: center;
  margin-top: 2rem;
}

.articles-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.article-card-link {
  text-decoration: none;
  color: inherit;
}

.article-card {
  border: 1px solid;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.article-card:hover {
  background-color: lightblue;
}

.article-image {
  width: 50%;
  height: auto;
  margin: 10px 0;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .articles-list {
    grid-template-columns: 1fr;
  }
}